<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show One Tokemon</title>
    <link rel="stylesheet" href="/stylesheets/showOneTokemon.css">
  </head>
  <body>

    <% rowAll.forEach((r) => {
      if(r.name == nameF){%>
        <h1><%= r.name %>'s Characteristics</h1>
        <h3>Height: <%= r.height %></h3>
        <h3>Weight: <%= r.weight %></h3>
        <form class="" action="showOneTokemonMore" method="post">
          Enter the name of tokemon again to see more: <input type="text" name="nameFMore" value="">
          <button type="submit" name="button">More</button>
        </form>
    <h3>Trainer: <%= r.trainer %></h3>
    <h2>Total: <%= r.total %></h2>
    <% }}); %>
    <form>
         <input type="button" onclick="window.location.href = 'https://quiet-springs-08679.herokuapp.com/assignment2';" value="Go Home"/>
    </form>
  </body>
</html>
