<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show More</title>
    <link rel="stylesheet" href="/stylesheets/showOneTokemon.css">
  </head>
  <body>
    <% rowAllMore.forEach((r) => {
      if(r.name == nameFMore){%>
        <h1><%= r.name %>'s Characteristics</h1>
        <h3>Height: <%= r.height %></h3>
        <h3>Weight: <%= r.weight %></h3>
        <table>
          <tr>
            <th><img src="pictures/fly.jpg" width = "200" height = "200"></th>
            <th><img src="pictures/fight.jpg" width = "200" height = "200"></th>
            <th><img src="pictures/fire.jpg" width = "200" height = "200"></th>
            <th><img src="pictures/water.jpg" width = "200" height = "200"></th>
            <th><img src="pictures/electric.jpg" width = "200" height = "200"></th>
            <th><img src="pictures/frozen.jpg" width = "200" height = "200"></th>
          </tr>
        <tr>
          <td><b><%= r.fly %></b></td>
          <td><b><%= r.fight %></b></td>
          <td><b><%= r.fire %></b></td>
          <td><b><%= r.water %></b></td>
          <td><b><%= r.electric %></b></td>
          <td><b><%= r.frozen %></b></td>
        </tr>
    </table>
    <h3>Trainer: <%= r.trainer %></h3>
    <h2>Total: <%= r.total %></h2>
    <% }}); %>
    <form>
         <input type="button" onclick="window.location.href = 'http://localhost:5000/assignment2';" value="Go Home"/>
    </form>
  </body>
</html>
